.App {
   background-color: white;
}

.body-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: rgb(254, 207, 207);
}

.topbar {
    background-color: rgb(153, 153, 254);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.loginbuttons {
    border: 1px black solid;
    padding: 8px;
    background-color: rgb(235, 222, 75);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

.loginoptions {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.tasks {
    background-color: rgb(142, 142, 142);
    padding: 10px;
    grid-area: 1 / 1 / span 3 / span 3;
}

.task {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goals{
    background-color: rgb(199, 175, 175);
    grid-area: 1 / 4 / span 3 / span 1;
    text-align: center;
}

.goal {
    border: 1px solid black;
}

.todolist {
    list-style-type: none;
}
