.topbar {
    background-color: rgb(153, 153, 254);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.loginbuttons {
    border: 1px black solid;
    padding: 8px;
    background-color: rgb(235, 222, 75);
}

.loginoptions {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}
